button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 5px solid #98FBCB;
    background-color: #FFB5C0;
    font-size: 3rem;
    color: palevioletred;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: black;
}
button:active{
    background-color: #FFB5C0;
    color: black;
}


body{
    background-color: #EDE8D0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.opb{
    background-color: #324fdb;
}
.ad{
    background-color: #32db62;
}

#keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
}
#calc{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    overflow: hidden;
    background-color: mediumaquamarine;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: slategrey;
    color: #FFB5C0;
}

